.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background: black;

    @media print {
        display: block;
        background: white;
    }
}

.painting {
    background: white;
    transform: scaleY(.99) scaleX(.97) translateY(-1px) translateX(0px);

    @media print {
        width: 300px;
        height: 300px;
        margin-bottom: 2rem;
    }

    @media screen {
        margin: 0px -1px -7px;
    }
}

.printStuff {
    display: none;
    font-size: 10pt;
    text-align: center;    
    font-family: Courier New, Courier, monospace;
    font-size: 11px;
    margin-top: 1rem;

    p {
        margin-bottom: 1em;
    }

    @media print {
        display: block;
    }
}

.logo {
    svg {
        margin: .5rem;
        width: 1.5rem;
    }
}

.canvasContainer {

    @media screen {
        background: white;
        padding: 2px 0px 0;
        overflow: hidden;
        transform: translateY(-3px) translateX(1px);
    }
}

.vo {
    margin-top: 20px;
}