.wrapper {
    border: .9rem black solid;
    display: inline-block;
    margin: 2rem;

    h2 {
        margin: .5rem .5rem 0;
        padding-bottom: .5rem;
        font-size: 4rem;
        text-align: center;
        border-bottom: .25rem solid black;
    }
}