body {
    font-family: futura, sans-serif;
}

* {
    box-sizing: border-box;
}

.tb_logo {
    &-wrapper {
        border: .5rem black solid;
        display: inline-block;
        margin: 1rem;

        h2 {
            margin: .5rem .5rem 0;
            text-align: center;
            border-bottom: .25rem solid black;
        }
    }
}

.intro {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-reset {
        border: none;
        background: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

a {
    color: inherit;
}

.english {
    font-style: italic;
}
