@import '~style/vars';

.gallery {
    margin: 0;
    padding: 0;
    padding-bottom: @nav-height;
    background: @background-color;
}

.imageContainer {
    background: @background-color;
    padding: 1rem 0;
    list-style: none;

    &:not(:last-child) {
        padding-bottom: 0;
    }
}

.image {
    width: 100%;
    display: block;
}

.nextPrev {
    width: 100%;
    display: flex;
    padding: 5rem 0;

    &_link {
        text-decoration: none;
        padding: 1rem;
        flex: 1 0 50%;

        &:first-child {
            text-align: right;
        }
    }

    &_label {
        font-style: italic;
    }

    &_title {
        font-family: 'functioncaps';
        text-transform: uppercase;
    }
}