

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2rem;
}

.item {
    margin: 0;
}

.image {

    img {
        transition: .1s all !important;
    }
}

.link {
    text-decoration: none;
    position: relative;
    display: block;

    &:hover, &:focus {
        .itemHeader {
            visibility: visible;
        }
    }
}

.itemTitle {
    font-size: inherit;
    margin: 0;
    text-shadow: 0 0 5px white;
    display: flex;
}

.itemSubTitle {
    margin: 0;
}

.itemHeader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    visibility: hidden;
}

.itemHeaderInner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: rgba(255,255,255,1);
}

.price {
    flex: 0 0 auto;
    background: black;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-weight: bold;
}