.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    &-nav_link {
        margin-left: .2rem;
    }
}
