.images {
    margin-top: 1rem;
}

.image {
    & + & {
        margin-top: 2rem;
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    display: flex;
    flex: 0 0 auto;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    margin-left: 2rem;
    background: black;
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: function;
}