@import '../style/vars';

@breakFooter: 680px;

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 2rem;
    align-items: center;

    @media (max-width: @breakFooter) {
        grid-template-columns: 1fr 1fr;
    }
}

.container_outer {
    padding: 5rem 0 8rem;
    background: white;
}

.vo_hint {
    text-align: center;
    margin-top: 1rem;

    @media (max-width: @breakFooter) {
        margin-top: 2rem;
    }
}

.nextPrev {
    &_link {
        text-decoration: none;
        grid-row: 1;

        @media (max-width: @breakFooter) {
            order: 0;
        }

        &:first-child {
            text-align: right;
            grid-column: 1;
        }

        &:last-child {
            grid-column: 3;

            @media (max-width: @breakFooter) {
                grid-column: 2;
            }
        }
    }

    &_label {
        font-style: italic;
    }

    &_title {
        font-family: 'functioncaps';
        text-transform: uppercase;
    }
}

.icon {
    height: 3rem;
    width: 3rem;
    display: inline-block;

    &:not(:last-child) {
        margin-right: .5rem;
    }

    img {
        height: 100%;
        width: 100%;
    }
}

.content {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;

    @media (max-width: @breakFooter) {
        grid-column: span 2;
        padding: 0 1rem;
    }
}