.paint {
    &-list {
        list-style: none;
        padding: 0;
        display: inline-block;
    }
    &-list_item {
        cursor: pointer;

        &--active {
            text-decoration: underline;
        }

        &--painted {
            &:after {
                content: '';
                display: inline-block;
                background: #b82020;
                border-radius: 100%;
                height: .5em;
                width: .5em;
                margin: .25em;
            }
        }
    }
}

.logo_container {
    border: 5px black solid;
    display: inline-block;
}
