@size: 2rem;
@stroke: .3rem;
@color: black;

.container {
    height: @size;
    width: @size;
    transform: rotate(-135deg);

    &:before, &:after {
        content: '';
        display: block;
        width: 100%;
        height: @stroke;
        background: @color;
        border-radius: (@stroke / 2);
        top: 0;
        position: absolute;
        animation-duration: 2s;
        animation-name: open1;
        left: 0;
    }

    &:before {
        transform-origin: top right;
    }

    &:after {
        transform-origin: top left;
        transform: rotate(90deg) translateY(-100%);
        animation-name: open2;
    }
}

@keyframes open1 {
    0% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(0);
    }
    75% {
        transform: scaleX(1);
    }
}

@keyframes open2 {
    0% {
        transform: rotate(90deg) translateY(-100%) scaleX(0);
    }
    75% {
        transform: rotate(90deg) translateY(-100%) scaleX(0);
    }
    100% {
        transform: rotate(90deg) translateY(-100%) scaleX(1);
    }
}

.dot {
    height: @stroke;
    width: @stroke;
    border-radius: 50%;
    position: absolute;
    background: @color;

    &_1 {
        top: 0;
        right: 0;
    }

    &_2 {
        top: 0;
        left: 0;
    }

    &_3 {
        bottom: 0;
        left: 0;
    }
}